<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>edit booking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container font_style">
    <div class="row padding_box">
        <div class="col-md-12 padding_box" style="background:#e8f7c3">
            <h1>VORES AWESOME AKTIVITETER</h1><br>
            <h3>obs pizza ikke inkl!</h3>
        </div>
    </div>

    <div class="row padding_box">
        <div class="col-md-6 drop_cont">
            <div class="dropdown">
                <button class="dropbtn">AKTIVITETER</button>
                <div class="dropdown-content">
                    <a href="/viewActivities">Vores Aktiviteter</a>
                    <a href="/admin/activities/createNewActivity">Opret/Redigér Aktiviter</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 drop_cont">
            <div class="dropdown">
                <button class="dropbtn">BOOKING</button>
                <div class="dropdown-content">
                    <a href="/searchForBooking">Søg Efter Booking</a>
                    <a href="/createABooking">Opret Booking</a>
                </div>
            </div>
        </div>
    </div>
</div>

<form method="POST" th:action="@{/editABooking}">
    <input type="hidden" name="id" th:value="${booking.getId()}"/>
    <ul>
        <li>
            <label>Fornavn </label>
            <input type="text" name="FirstName" th:value="${booking.getFirstName()}"/>
        </li>
        <li>
            <label>Efternavn </label>
            <input type="text" name="LastName" th:value="${booking.getLastName()}"/>
        </li>
        <li>
            <label>Email </label>
            <input type="text" name="Email" th:value="${booking.getEmail()}"/>
        </li>
        <li>
            <label>Deltagere </label>
            <input type="text" name="NumberOfAttendees" th:value="${booking.getNumberOfAttendees()}"/>
        </li>
        <li>
            <label>Tid</label>
            <input type="text" name="Date" th:value="${booking.getDate()}"/>
        </li>
        <li>
            <label>Aktivitet </label>
            <select name="Activity" th:value="${booking.getActivity()}">
                <option value="Climbing">Climbing</option>
                <option value="Gocart">Gocart</option>
                <option value="Paintball">Paintball</option>
            </select>
        </li>
        <li>
            <input type="submit" value="Gem"/>
        </li>
    </ul>


</form>


</body>
</html>