<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>activities</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container font_style">
    <div class="row padding_box">
        <div class="col-md-12 padding_box" style="background:#e8f7c3">
            <h1>VORES AWESOME AKTIVITETER</h1><br>
            <h3>obs pizza ikke inkl!</h3>
        </div>
    </div>

    <div class="row padding_box">
        <div class="col-md-6 drop_cont">
            <div class="dropdown">
                <button class="dropbtn">AKTIVITETER</button>
                <div class="dropdown-content">
                    <a href="/viewActivities">Vores Aktiviteter</a>
                    <a href="/admin/activities/createNewActivity">Opret/Redigér Aktiviter</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 drop_cont">
            <div class="dropdown">
                <button class="dropbtn">BOOKING</button>
                <div class="dropdown-content">
                    <a href="/searchForBooking">Søg Efter Booking</a>
                    <a href="/createABooking">Opret Booking</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row padding_box">

        <div class="col-md-3" style="background: #f7f353">
            <table>
                <tr th:each="Activity : ${allActivities}">
                    <td th:text="${Activity.name}">activity_name</td>
                    <td>
                        <a th:href="@{'/viewActivities/' + ${Activity.name}}">Vis info</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-9" style="background: #a3f7f0">
            <h3>Activity:</h3><span th:text="${theActivity.name}" th:remove="tag" style="size: 5em">Click in menu to see info</span>
            <h3>Description:</h3><span th:text="${theActivity.description}"
                                       style="size: 5em">Click in menu to see info</span>
            <h3>Limitations:</h3><span th:text="${theActivity.limitations}"
                                       style="size: 5em">Click in menu to see info</span>
            <h3>Minimum number of Participants:</h3><span th:text="${theActivity.minParticipants}" style="size: 5em">Click in menu to see info</span>
            <h3>Maximum number of Participants:</h3><span th:text="${theActivity.maxParticipants}" style="size: 5em">Click in menu to see info</span>
            <h3>Minimum Age:</h3><span th:text="${theActivity.minAge}"
                                       style="size: 5em">Click in menu to see info</span>
            <h3>Maximum Age:</h3><span th:text="${theActivity.maxAge}"
                                       style="size: 5em">Click in menu to see info</span>
            <h3>Minimum height:</h3><span th:text="${theActivity.minHeight}"
                                          style="size: 5em">Click in menu to see info</span>
            <h3>Maximum height:</h3><span th:text="${theActivity.maxHeight}"
                                          style="size: 5em">Click in menu to see info</span>
            <h3>Minimum weight:</h3><span th:text="${theActivity.minWeight}"
                                          style="size: 5em">Click in menu to see info</span>
            <h3>Maximum weight:</h3><span th:text="${theActivity.maxWeight}"
                                          style="size: 5em">Click in menu to see info</span>
        </div>

    </div>
</div>

</body>
</html>